<div id="splash-background">
	<div id="splash-menu">
	</div>
	<div id="splash-enter">
		<h1>CURTS A. D'AMOUR</h1>
		<h2>VIDEO . GRAPHICS . MARKETING</h2>
		<br>
		<div class="inline-buttons">
			<%= link_to "ENTER",{:controller => "home", :action => "about"}, :class => "btn btn-info", :id => "enter" %>
			<i class="fa fa-tumblr" aria-hidden="true"></i>
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<i class="fa fa-instagram" aria-hidden="true"></i>
			<i class="fa fa-pinterest" aria-hidden="true"></i>
			<i class="fa fa-youtube-play" aria-hidden="true"></i>
	</div>
	</div>
</div>